doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Join a Quiz
    link(rel='stylesheet' href='../static/CSS/index.css')
  body
    .container
      .container-content
        h2.heading Join a Quiz
        form(action="/join", method="post").form
          input#name.btn(type='text' name='name' placeholder='Enter Your Name')
          input#quiz-name.btn(type='text' name='quizCode' placeholder='Enter Quiz Code' autocomplete="off")
          input.submit(type='submit' value='Join Quiz')
        div.alert.danger #{message}

  script(src="../static/Js/index.js") 