doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../static/CSS/notfound.css")
        link(rel="shortcut icon", href="../static/Img/logos/favicon1.png", type="image/x-icon")
        title Error 404! Page Not Found

    body 
        a(href="/")
            img(src="../static/Img/logos/logo_circle.ico", alt="programmingwithaao.com" id="logo")
        
        p 
            b 404.
            ins That's an Error

        p 
            | The requested URL was not found on the server
            br
            ins That's all we know